/*! This file is part of davids91/rafko.aidertool.
 *
 *    Rafko is free software: you can redistribute it and/or modify
 *    it under the terms of the GNU General Public License as published by
 *    the Free Software Foundation, either version 3 of the License, or
 *    (at your option) any later version.
 *
 *    Rafko is distributed in the hope that it will be useful,
 *    but WITHOUT ANY WARRANTY; without even the implied warranty of
 *    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *    GNU General Public License for more details.
 *
 *    You should have received a copy of the GNU General Public License
 *    along with Rafko.  If not, see <https://www.gnu.org/licenses/> or
 *    <https://github.com/davids91/rafko.aidertool/blob/main/LICENSE>
 */

.tagBtn{
      -fx-border-width: 1;
      -fx-border-color: #919191;
      -fx-background-radius: 5;
      -fx-background-color: rgba(255,255,128,1);
      -fx-alignment: CENTER_LEFT;
      -fx-text-fill: #828282;
      -fx-border-radius: 5;
      -fx-background-image: url(../Img/close.png);
      -fx-background-size: 16px 16px;
      -fx-background-repeat: no-repeat;
      -fx-background-position: right 4px center;
}